@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

h2 {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.2;
  font-size: 24;
  font-weight: 600;
}

p {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  font-size: 14;
  font-weight: 300;
  margin-bottom: 0;
}


body {
  width: 1126px;
  margin: 40px auto 120px auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
  margin-left: 36px;
}

nav a:hover {
  color: #D11414;
  transition: 0.2s;
}

nav a:active {
  color: #D11414;
}

.icon {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  right: 36px;
}

.dropdown-content a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20;
  line-height: 1.5;
  color: #000000;
  text-decoration: none;
  padding: 10px 12px;
  display: block;
  background-color: rgba(256, 256, 256, 0.9);
}

.banner {
  margin-top: 88px;
}

section {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
  margin-bottom: 100px;
}

.tagline {
  margin-top: 40px;
}

.tagline .triangle {
  grid-column: 2;
  align-self: end;
}

.tagline h1 {
  grid-column: 4 / span 6;
  font-family: 'Lora', serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
}

.tagline .wave {
  grid-column: 11 / span 2;
}

.graphic img {
  grid-column: 2 / span 6;
}

.graphic .description {
  grid-column: 8 / span 5;
  align-self: center;
}

#subjective {
  grid-column: 4 / span 7;
}

#subjective_triangle {
  grid-column: 1 / span 2;
}

.subjective {
  margin-bottom: 8px;
}

.subjective img {
  align-self: center;
}

#description_alt {
  grid-column: 4 / span 6;
}

.street div {
  grid-column: 1 / span 5;
  align-self: center;
}

.street div img {
  display: block;
  margin: auto;
  margin-top: 124px;
}

.street>img {
  grid-column: 6 / span 7;
}

#about h3 {
  grid-column: 1 / span 6;
  font-family: 'Lora', serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  align-self: center;
}

#about img {
  grid-column: 7 / span 6;
}

footer {
  text-align: center;
}

footer a {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 24;
  line-height: 2;
  color: #000000;
  text-decoration: none;
  margin-right: 52px;
}

footer a:hover {
  color: #D11414;
  transition: 0.2s;
}

.divider {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.timeline h1.year {
  grid-column: 2 / span 2;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 5vw;
  margin: 0;
  line-height: 0.9;
}

.timeline img {
  width: 192px;
  height: auto;
  grid-column: 4 / span 3;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.timeline p {
  grid-column: 7 / span 5;
  margin: 0;
  font-size: 0.9em;
}

.connect h1 {
  font-family: 'Lora', serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  margin-top: 160px;
  margin-bottom: 48px;
}

form {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

input, textarea {
  display: block;
  width: 100%;
  margin-bottom: 28px;
  padding: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.2;
  color: #000000;
  background-color: #C4C4C4;
  border: none;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
  line-height: 2;
  color: #000000;
  background-color: #FFFFFF;
  border: none;
  float: right;
}

button:hover {
  cursor: pointer;
  color: #D11414;
  transition: 0.2s;
}

button img {
  width: 50px;
  margin-left: 10px;
}

#endimage {
  display: block;
  margin: 240px auto 160px auto;
}

@media screen and (max-width: 1222px) {
  body {
    width: auto;
    margin: 40px 48px 120px 48px;
  }

  .banner img {
    width: 100%;
  }

  section .img70 {
    width: 100%;
  }

  section#about img {
    width: 90%;
  }
}

@media screen and (max-width: 940px) {
  body {
    width: auto;
    margin: 40px 48px 120px 48px;
  }

  .banner img {
    width: 100%;
  }

  section {
    display: block;
  }

  section .img70 {
    width: 100%;
  }

  .tagline .triangle {
    width: 40px;
    grid-column: 1;
  }

  .tagline .wave {
    width: 60px;
    float: right;
    margin-bottom: 100px;
  }

  #subjective_triangle {
    display: none;
  }

  .tagline h1 {
    font-size: 36px;
    grid-column: 3 / span 8;
  }

  .street {
    display: flex;
    flex-flow: column;
  }

  .street div {
    order: 2;
  }

  section#about {
    display: flex;
    flex-flow: column;
  }

  section#about img{
    width: 60%;
    order: 1;
    margin-left: auto;
    margin-right: auto;
  }

  section#about h3 {
    order: 2;
  }

  section.timeline {
    margin-bottom: 60px;
  }

  section.timeline img {
    width: 50%;
    max-width: 320px;
    margin-left: 0;
    margin-bottom: 12px;
  }

  section.timeline h1.year {
    font-size: 3em;
    text-align: left;
    margin-bottom: 12px;
  }


}

@media screen and (max-width: 800px) {
  body {
    width: auto;
    margin: 40px 36px 120px 36px;
  }

  header {
    align-items: flex-end;
  }

  header img {
    width: 120px;
  }


  nav>a:not(:last-child) {
    display: none;
  }

  nav a.icon {
    float: right;
    display: block;
    font-size: 2em;
  }

  nav {
    position: relative;
    display: inline-block;
  }

  nav:hover .dropdown-content {
    display: block;
  }

  .banner {
    margin-top: 50px;
  }

  .banner img {
    min-height: 280px;
    object-fit: cover;
  }

  section {
    display: block;
  }

  section .img70 {
    width: 100%;
  }

  .tagline .triangle {
    width: 40px;
    grid-column: 1;
  }

  .tagline .wave {
    width: 60px;
    float: right;
    margin-bottom: 100px;
  }

  #subjective_triangle {
    display: none;
  }

  .tagline h1 {
    font-size: 36px;
    grid-column: 3 / span 8;
  }

  .street {
    display: flex;
    flex-flow: column;
  }

  .street div {
    order: 2;
  }

  section#about img {
    margin-top: 24px;
  }

  section.timeline {
    margin-bottom: 60px;
  }

  section.timeline img {
    width: 50%;
    min-width: 120px;
    margin-left: 0;
    margin-bottom: 12px;
  }

  section.timeline h1.year {
    font-size: 3em;
    text-align: left;
    margin-bottom: 12px;
  }

  .connect h1 {
    font-size: 1.8em;
  }

  img.divider {
    width: 80px;
  }


  form {
    width: 100%;
  }

  input, textarea {
    box-sizing: border-box;
  }

  footer a {
    font-size: 16;
    line-height: 1.5;
    margin-right: 28px;
  }
}
